{% extends 'layout/layout_main.html' %}
{% load frame_html %}
{% load frame_plugins %}

{% block css_files %}
{% jquery_validation_engine 'css' %}
{% endblock %}

{% block js_files %}
{% jquery_validation_engine 'js' %}
{% endblock %}

{% block js_code %}
<script type="text/javascript">
$(function () {
    {% jquery_validation_engine 'jscode' form_id='form1' %}
});
</script>
{% endblock  %}

{% block pagecontent %}
    {% if messages %}
<div class="alert alert-warning alert-dismissible">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
<h5><i class="icon fas fa-exclamation-triangle"></i>执行错误</h5>
    {% for message in messages %}{{ message }}{% endfor %}
</div>
    {% endif %}
<form id="form1" name="form1" method="post" class="form-horizontal">
    {% csrf_token %}
<div class="card">
    <div class="card-header">
        <h4 class="card-title"> 当前用户： {{ current_user }}</h4>
    </div>
    <div class="card-body">

{% for field in form %}
            <div class="form-group row">
                <label for="{{ field.id_for_label }}" class="col-sm-1 col-form-label">{{ field.label  }}</label>
                <div class="col-sm-11">{{ field }}</div>
            </div>
{% endfor %}
    </div>
    <div class="card-footer">
        {% form_btn 'submit' %}
    </div>
</div>
</form>
{% endblock %}