{% extends 'layout/layout_login.html' %}
{% load framew_plugins %}
{% block page_title %}重置密码{% endblock%}

{% block js_plugin %}
{% jquery_validate_assets 'js' %}
{% endblock %}

{% block js_code %}
<script type="text/javascript">
$(function () {
  $('#form').validate({
    rules: {
      email: {
        required: true,
        email: true,
      },
    },
    messages: {
      email: {
        required: "请输入您的邮箱地址！",
        email: "请输入正确的邮箱地址！",
      },
    },
    errorElement: "span",
    errorPlacement: function (error, element) {
      error.addClass('invalid-feedback');
      element.closest('.input-group').append(error);
    },
    highlight: function (element, errorClass, validClass) {
      $(element).addClass('is-invalid');
    },
    unhighlight: function (element, errorClass, validClass) {
      $(element).removeClass('is-invalid');
    }
  });
});
</script>
{% endblock  %}

{% block pagecontent %}
<p class="login-box-msg">您忘记密码了? 请输入您的帐号绑定邮箱并根据提示找回密码.</p>

<form name="form" id="form" action="" method="post">
{% csrf_token %}
<div class="input-group mb-3">
    <input type="text" class="form-control" name="email" placeholder="Email" />
  <div class="input-group-append">
    <div class="input-group-text">
      <span class="fas fa-envelope"></span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <button type="submit" class="btn btn-primary btn-block">找回密码</button>
  </div>
</div>
</form>

<p class="mt-3 mb-1">
<a href="{% url 'site_login' %}">登录</a>
</p>
{% endblock pagecontent %}