{% extends 'layout/layout_login.html' %}
{% block page_title %}重置密码邮件已发送{% endblock%}

{% block css_code %}
  .ui.segments .segment, .ui.segment {
    font-size: 16px;
    }
{% endblock  %}
{% block js_code %}{% endblock  %}

{% block pagecontent %}
<h4 class="">重置密码邮件已发送 !</h4>
<hr/>
<p class="text-left">请在 {{ password_reset_timeout }} 分钟内根据邮件提示进行密码重置操作。</p>
<p class="lext-left">如果你没有收到邮件, 请重新进行找回操作，同时确保您所输入的地址是正确的, 并检查您的垃圾邮件文件夹.</p>
<hr/>
<p class="mb-1"><a href="{% url 'password_reset' %}">再次找回</a></p>
<p class="mb-1"><a href="{% url 'site_login' %}">登录</a></p>
{% endblock pagecontent %}